
.faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    background-color: #F2CDA0;
    /* padding: 20px; */
}

.faq h2 {
    grid-column-start: span 3;
    text-align: center;
    justify-content: center;
    grid-template-rows: 1/2;
    /* padding: 10px;
    margin-top: 20px; */
    font-weight: bold;
    /* font-size: 50px; */
    color: #F2884B;
}

.faq h3 {
    text-align: center;
    font-weight: bold;
    /* padding-top: 10px; */
    color: #F2884B;
}

.faq p {
    /* margin: 5em; */
    align-items: center;
    text-align: justify;
    /* width: 40em; */
    padding-top: 10px;
    margin-bottom: 20px;
    color: #2e2e2e;
    padding: 0 80px;
}

@media screen and (max-width: 420px) {
    .faq div {
        grid-template-rows: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1300px) {

    .faq {
        padding-top: 0;
    }
    .faq h2 {
        /* margin-bottom: 0; */
    }
    /* .faq {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: repeat(6, 1fr); */
 

    /* .faq div {
        grid-column: span 3;
        grid-row: span;
    }
    .faq h2 h3 {
        grid-column: span 3;
        grid-row: span;
    } */

    
    
}