* {
    margin: 16px 0;
    padding: 0;
}

.faq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    background-color: #F2CDA0;
    justify-items: center;
}

.faq h3 {
    text-align: center;
}

.faq p {
    /* margin: 5em; */
    align-items: center;
    width: 40em;
}