footer {
    width: 100%;
    height: 200px;
    background-color:#F2884B;
}

section.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
}

section.footer div {
    border: 1px solid green;
}

.titulo-footer {
    font-size: 18px;
}

.footer-ul {
    list-style: none;
}

.footer-ul li {
    padding: 5px 20px;
    margin: 10px 0;
}

.footer-ul li:hover {
    color: black;
    background-color: white;
}

.footer-ul li a {
    text-decoration: none;
}

.footer-ul li a:hover {
    color: black;
}
